source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0, netstandard2.0, netstandard2.1
nuget dotenv.net
nuget Microsoft.Extensions.Configuration 6.0.0-rc.1.21451.13 rc
nuget Microsoft.Extensions.Configuration.Json 6.0.0-rc.1.21451.13 rc
nuget Serilog.Sinks.Console 4.0.0
nuget Suave 2.6.1
nuget FsKafka

git https://github.com/fi-project/daruk.git master